<!-- FOOTER COMMON -->

<section class="bottom-nav">
    <a href="#">Top</a>
</section>

<section class="pre-footer">
    <!-- <div>an optional pre-footer space</div> -->
</section>
<footer>
    <!-- <nav id="main-nav" role="navigation">
        
                <ul data-menuTitle="Example Menu" class="menu">
                  <li><a accesskey="h" href="#">Home</a></li>
                  <li><a accesskey="a" href="#">About</a></li>
                  <li><a accesskey="w" href="#">Work</a></li>
                  <li><a accesskey="b" href="#">Blog</a></li>
                  <li><a accesskey="c" href="#">Contact</a></li>
                </ul>
        
                <a id="nav-close" class="jump-link" href="#"><span class="vishid">Jump to top</span></a>
        
              </nav> -->

    <div> Ruby, Joan, James and Peter EDA Bootcamp Group Project 2.1 </div>
    <div>Friday 26th October, 2018</div>
    <div>
        <span class="facebook">f</span>
        <span class="twitter">t</span>
    </div>
    <div>
        <span><a href="index-non-grid.html">&copy; 2018</a></span>
    </div>

</footer>




<div class="footer">
</div>