<header class="grid">
    <div>
        <!-- <a accesskey="2" id="nav-open" class="jump-link" href="#main-nav"><span class="vishid">Jump to navigation</span></a> -->
        <h1>Fresh Potatoes - Movie Favourites</h1>
        <p class="subtitle">EDA - Hihi 2018 Group Project 2.1</p>

    </div>
    <div>
        <img src="images/freshPotatoes1.png" alt="Peter Torr Smith colour photo" class="logo">
    </div>
</header>
