<div class="top-movie">
    <a href="#">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c1/The_Matrix_Poster.jpg/220px-The_Matrix_Poster.jpg"
            alt="alt text" class="">
    </a>
    <h3><a href="#">{{title}}</a></h3>
    <p>Categories: {{categories}}</p>
</div>