<nav class="grid">
  <p class="current">
    <a href="/">Home</a>
  </p>
  <p>
    <a href="/movies">Movies</a>
  </p>
  <p>
    <a href="#">Categories</a>
  </p>
  <p>
    <a href="#">Community</a>
  </p>
  <p>
    <a href="">Join / sign-in / profile</a>
  </p>
</nav>