<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDA Hihi 2018 - Movie Faves</title>
    <description>
        Ruby, Joan, James and Peter
        EDA Bootcamp Group Project 2.1
    </description>
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>

</html>