<h1>Welcome to the EDA Hihi 2018 Movie Faves</h1>

<p>by Ruby, Joan, James and Peter, and no doubt a few helpers :-)</p>

<ul>
    {{#each names}}
    <li>{{name}}</li>

    {{/each}}
</ul>

<p>EDA Bootcamp Group Project 2.1</p>