<form class="form" action="/movies/edit" method='post'>

  Title:
  <input type="text" name="title" value=""><br>
  Category:<br>
  Sci-fi<input type="radio" name="category" value="Sci-Fi"><br>
  Comedy<input type="radio" name="category" value="Comedy"><br>
  Romance<input type="radio" name="category" value="Romance"><br>
  Popcorn trash<input type="radio" name="category" value="Popcorn"><br>

  <input type="submit" name="" value="Submit">

</form>