<main class="features grid">

<span class="add-movie"><a href="/movies/edit">Add a new film?</a></span>

    <section class="top-movies">
        <h2>Movies</h2>
        {{#each movies}}
        {{>movie-summary}}
        {{/each}}
    </section>

</main>

